nav {
    height: 90px;
    background: #24c6dc; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24c6dc, #514a9d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24c6dc, #514a9d);
    box-shadow: #444444 1px 2px 2px 1px;
}
.section {
    padding-top: 0;
}
.nav-wrapper {
    text-align: center;
}
a.brand-logo.center {
    padding-top: 10px;
    font-size: 50px;
}
.material-icons {
    display: none;
}
@media screen and (max-width: 995px) {
    .sidenav-trigger {
        display: none;
    }
    .brand-logo.center {
        margin: 0;
        font-size: 20px;
        overflow: auto;
    }
    #search-input {
        margin-bottom: 10px;
    }
    a.brand-logo.center {
        font-size: 25px;
    }
    nav {
        height: 120px;
        line-height: 45px;
    }
}